@import './../helpers/variables';

.Histoire {

    position: relative;
    padding: 60px 0;
    margin-top: 150px;

    &-Wrapper {
        margin: auto;
        max-width: 1140px;
        display: flex;
        flex-direction: row;

        .container-MockupImg {
            height: 500px;

            .MockupImg {
                height: 100%;
                width: auto;
            }
        }
    }

    &-Content {
        padding: 60px;
        padding-right: 0;
        margin-top: 60px;

        .title {
            font-size: 56px;
            font-weight: 700;
            color: $c--darkPrimary;
            font-family: $f--title;
        }

        .text-container {
            font-size: 18px;
            margin: 30px 0;
            font-family: $f--content;

            .text-content {
                margin: 15px 0;
            }
        }

        .button {
            padding-top: 15px;
            a {
                font-family: $f--content;
                font-size: 18px;
                background-color: $c--darkPrimary;
                color: $c--white;
                padding: 0.5em 1em;
                border-radius: 30px;
                font-weight: bold;
                display: block;
                width: 300px;
                text-align: center;
            }
        }
    }

    &-yellow-bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-color: $c--yellow;
        clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    }
}

@media screen and (max-width : 980px) {
    .Histoire {
        &-Wrapper {
            flex-direction: column;

            .container-MockupImg {
                height: 350px;
                margin: auto;
            }
        }

        &-Content {
            padding: 20px;
        }
    }
}

@media screen and (max-width : 340px) {
    .Histoire {
        &-Content {
            .button {
                a {
                    font-size: 14px;
                    width: 250px;
                }
            }
        }
    }
}