@import './../helpers/variables';

.HeroSection 
{
    position: relative;
    
    
    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        display: block;
        min-height: 90vh;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 21%, 0% 100%);
        background: $c--primary;
    }

    &-Wrapper {
        min-height: 90vh;
        max-width: 1140px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &-Headlines {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        h1 {
            font-family: $f--title;
            text-transform: uppercase;
            font-size: 56px;
            color: $c--white;
        }
        p {
            font-family: $f--content;
            font-size: 18px;
            margin: 1em 0;
            color: $c--white;
            text-transform: uppercase;
            font-weight: 400;
        }
        a {
            font-family: $f--content;
            font-size: 18px;
            background-color: $c--darkPrimary;
            color: $c--white;
            padding: 0.5em 1em;
            border-radius: 30px;
            font-weight: bold;
            display: block;
            width: 200px;
            text-align: center;
        }
    }
    
    &-Image {
        width: 50%;
        min-height: 90vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        img {
            max-height: 600px;
            min-height: 400px;
        }
    }
}

@media screen and (max-width : 1200px) 
{
    .HeroSection 
    {
        &-Image {
            img {
                min-height: 300px;
                max-height: 450px;
            }
        }
    }
}

@media screen and(max-width: 980px) 
{
    .HeroSection 
    {
        background-color: $c--primary;
        &::before {
            clip-path: initial;
        }

        &-Headlines {
            margin: 60px auto 30px;
            width: 95%;
            align-items: center;
            text-align: center;
            h1 {
                font-size: 40px;
            }
        }

        &-Wrapper {
            flex-direction: column;
            min-height: initial;    
        }

        &-Image {
            min-height: initial;
        }
    }    
}