@import './../helpers/variables';

.TheHeader
{
    background-color: $c--primary;
    height: 10vh;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        display: block;
        z-index: -1;
        width: 100%;
        height: 12vh;
        inset: 0;
        background-color: $c--primary;
    }

    &-Wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        width: 95%;
        margin: auto;
        max-width: 1140px;
        height: 100%;
    }

    &-Cta {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        a {
            background-color: $c--darkPrimary;
            padding: 1em 2em;
            border-radius: 30px;
            color: white;
            font-weight: bold;
            font-family: $f--content;
        }
    }

    &-Logo {
        height: 100%;
        display: flex;
        align-items: center;
        img {
           max-height: 60px;
        }
    }

    &-Nav .menu-list{
        height: 100%;
        display: flex;
        justify-content: center;
        
        &-item {
            display: flex;
            align-items: center;
            &:nth-of-type(2) {
                margin: 0 30px;
            }

            a {
                color: $c--white;
                font-weight: bold;
                text-transform: uppercase;
                font-family: $f--content;
                &:hover {
                    color: $c--darkPrimary;
                }
            }
        }
    }
}

@media screen and (max-width : 980px) 
{
    .TheHeader 
    {
        &-Wrapper {
            display: flex;
            justify-content: space-between;
        }

        &-Logo {
            width: 150px;
            img {
                width: 100%;
            }
        }

        &-Cta a{
            padding: 0.75em 1em;
        }

        &-Nav {
            display: none;
        }
    }    
}